body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("images/cosmic-nebula-clouds.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.text-box {
    background-color: rgba(240, 146, 201, 0.7);
    padding: 20px;
    max-width: 700px;
    margin: 40px auto;
    border-radius: 16px;
    text-align: center;
}
.text-box h1,
.text-box p{
    color: #2b2b2b;
}
.main-card,
.extra-card {
    display: block;
    cursor: pointer;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; /* чтобы карты не уходили за экран */
    margin-top: 10px;
}

#main-section, #bottom-section {
    margin-top: 30px;
}

.card-block {
    background: rgba(240, 146, 201, 0.7);
    padding: 20px;
    border-radius: 12px;
    text-align: center;
}

.main-card {
    width: 160px;
    display: block;
    margin: 0 auto 12px auto;
}

.extra-card {
    width: 120px;
    margin: 0 4px;
}

.extras {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

button {
    padding: 8px 14px;
    border: none;
    background: #3b2f2f;
    color: #fff;
    cursor: pointer;
    margin-top: 8px;
}

